<h3><b>Introduction to Data Analytics - Exercise set 2 - pandas-module</b></h3>

Put all your exercises (Jupyter Notebooks or Python-files) in your course Git-project.
Use either code comments or Jupyter Notebook markdown (text) to document which exercise you are doing and what a certain code section does! 
You can return all of these exercises in a single Jupyter Notebook, if you wish.

<b>The datasets for these exercises have been collected from kaggle.com<br />
(a service providing different datasets for practice)</b>

<img src="http://srv.plab.fi/~tuomasv/data_analytics_2023_images/exercise_set_2/es2_1.png" />

<h4><b>1. import pandas and read the csv-file found in Moodle (loans.csv). Use Python coding with pandas to answer the questions.</b></h4>

In [1]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import zscore
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Read the laons.csv file
df = pd.read_csv("LOANS.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'LOANS.csv'

<li>Remove the Customer ID –column from data</li>
<li>Print the head of the data</li>

In [ ]:
# Remove the customer ID column
df = df.drop("Customer ID", axis=1)

# Print the head of the data, way 1
print(df.head())

In [ ]:
# Print the head of data, way 2 (I prefer this one)
df.head()

<ul>
    <li>Remove rows from the data that have <b style="color: red;">a too large of a loan</b> (Current Loan Amount should be less than 99999999)</li>
    <ul>
        <li><b>Tip:</b> use filtering!</li>
    </ul>
</ul>

In [ ]:
# Remove rows from data that have larger loan than  99999999
df = df[df["Current Loan Amount"] < 99999999].sort_values(by='Current Loan Amount', ascending=True)

# Use reset_index to reset index and for more understandable view
df = df.reset_index(drop=True)

# Display the df with reset index
df

<ul>
    <li>Remove rows that have the annual income as NaN (not a number)</li>
    <ul>
        <li><b>Extra task:</b> use imputation to use average income as the value instead of NaN</li>
    </ul>
</ul>

In [ ]:
# Check if there is any na (missing values) within 'Annual Income Column
df['Annual Income'].isna().sum()

In [ ]:
19154
# Remove the rows that have annual income as Nan
df = df.dropna(subset=["Annual Income"])

# Display the dataframe
df

In [ ]:
# Calculate the average income
average_income = df["Annual Income"].mean()

# Replace NaN annual income with the average income
df['Annual Income'].fillna(df["Annual Income"].mean(), inplace=True)
df['Annual Income']

In [ ]:
# Check if imputation method worked
df['Annual Income'].isna().sum()

<li>Get the average Current Loan Amount</li>

In [ ]:
# Find the average Current loan amount
average_current_loan_amount =  df["Current Loan Amount"].mean()
print(f"The average current loan amount is: {average_current_loan_amount}")

<li>Get the highest and lowest Annual Income in the dataset</li>

In [ ]:
# Get the  highest and lowest annual income in the dataset
highest_annual_income = df['Annual Income'].max()
lowest_annual_income = df['Annual Income'].min()
print('Highest Annual Income:', highest_annual_income)
print('Lowest Annual Income:', lowest_annual_income)

<li>Get the Home Ownership value of the <b>Loan ID = bbf87a87-22cd-4d10-bd9b-7a9cc1b6e59d</b></li>

In [ ]:
# Get the Home Ownership value of the Loan ID = bbf87a87-22cd-4d10-bd9b-7a9cc1b6e59d
home_ownership_value = df[df['Loan ID'] == 'bbf87a87-22cd-4d10-bd9b-7a9cc1b6e59d']['Home Ownership'].iloc[0]
print('Home Ownership:', home_ownership_value)

<li>Create a new field into your dataset called <b>Actual Annual Income</b>.</li>
<br><b>Note:</b> The Actual Annual Income follow this formula:<br>
<b style="color: green">Annual Income – 12 * Monthly Debt</b><br><br>

In [ ]:
# Create a field called Actual Annual Income
df["Actual Annual Income"] = df["Annual Income"] - 12 * df["Monthly Debt"]

<li>Get the Actual Annual Income of the loan with the <b>ID = 76fa89b9-e6a8-49af-afa1-8151315aba8e</b></li>

In [ ]:
# Get the Actual Annual Income of the loan 
Actual_Annual_Income = df[df["Loan ID"]=="76fa89b9-e6a8-49af-afa1-8151315aba8e"]["Actual Annual Income"].iloc[0]
print(f"Actual Annual Income:{Actual_Annual_Income}")

<li>Get the Loan ID of the loan with the smallest Actual Annual Income </li>

In [ ]:
# Get the Loan ID of the loan with the smallest Actual Annual Income
smallest_actual_income_id = df[df['Actual Annual Income'] == df['Actual Annual Income'].min()]['Loan ID'].iloc[0]
print('Loan ID with smallest Actual Annual Income:', smallest_actual_income_id)

<li>How many loans are "Long term"?</li>

In [ ]:
# Number of Long-term Loans
long_term_loans = df[df["Term"]=="Long Term"].shape[0]
print(f"Number of Long-term loans: {long_term_loans}")

<li>How many loaners have more than 1 bankruptcy?</li>

In [ ]:
# Loaners with more than one bankrupcy
multiple_bankrupcy = df[df["Bankruptcies"]> 1].shape[0]
print(f"Loaners with multiple bankruptcies: {multiple_bankrupcy}")

<li>How many Short Term loans are for Home Improvements?</li>

In [ ]:
# Number of short term loans for the Home improvements
home_improvement_short_term_loan = df[(df["Term"]=="Short Term") & (df["Purpose"]=="Home Improvements")].shape[0]
print(f"Number of short term loan for the home improvements: {home_improvement_short_term_loan}")

<li>How many unique loan purposes are there?</li>

In [ ]:
# number of Unique loan purposes
# .unique() - gives us unique values
# .nunique() - gives the total number of unique values
unique_loan_purposes = df["Purpose"].unique()
number_unique_loan_purposes = df["Purpose"].nunique()
print(f"Unique loan purposes: {unique_loan_purposes}")
print(f"Number of unique loan purposes: {number_unique_loan_purposes}")

<li>What are the 3 most common loan purposes?</li>

In [ ]:
# three common loan purposes
three_common_loan_purposes = df["Purpose"].value_counts().head(3)
print(f"The three most common Loan purposes are: {three_common_loan_purposes}")

<li>Is there a correlation between <b>Annual Income</b> and <b>Number of Open Accounts</b> or is there a correlation between <b>Number of Credit Problems</b> and <b>Bankruptcies</b>?</li>

In [ ]:
# Correlation problem using .corr()
correlation1 = df["Annual Income"].corr(df["Number of Open Accounts"])
correlation2 = df["Number of Credit Problems"].corr(df["Bankruptcies"])
print(f"Correlation between Annual Income and Number of Open Accounts: {correlation1}")
print(f"Correlation between Number of credit problems and Bankruptices: {correlation2}")

This informs us that correlation between Annual Income & Number of Loans columns is quite low. This could be caused by higher income inviduals having several accounts open at this bank.

Other hand, correlation between Number of Credit Problems and Bankruptcies is relatively high, this could be caused by people who have income problems being more prone for filing more bankruptcies.

<h4><b>2. Download the purchases.csv from Moodle, and do the following observations:</b></h4>

<li>What was the total price sum of the Purchase Order Number 018H2015? (14 rows in total)</li>

In [ ]:
# Read purhcases.csv
df = pd.read_csv("purchases.csv")

# Display the head of the dataframe
df.head()

<li>What is the name and description of the purchased item with the Purchase Order Number 3176273?</li>

In [ ]:
# Total price sum for the PON 018H2015
total_price_PON = df[df["Purchase Order Number"]== "018H2015"]["Total Price"].sum()
print(f"The total price for the purchase order number is: {round(total_price_PON,2)}")

<li>How many occasions (rows) of purchase data happened during the year 2013?</li>

In [ ]:
# Rows of purchased data happened during the year 2013
purchase_2013_data = df[df["Purchase Date"].str.contains("2013")].shape[0]
print(f"The purchase data in 2013 is: {purchase_2013_data} ")

<ul><li>What are the 5 most common Departments in the data?</li>
<ul><li><b>Extra task: </b>What are 3 Departments using most money in the data?</li></ul>
</ul>

In [ ]:
# Five most common Departments in the data
five_common_departments = df["Department Name"].value_counts().head(5)
print("Five most common Departments:")
print(f"{five_common_departments}")

In [ ]:
# Extra Task: Top three Department using most money
top_three_department = df.groupby("Department Name")["Total Price"].sum().head(3)
print(f"The top three department: {top_three_department}")

<li>Sort the data by Department Name</li>

In [ ]:
# Sort the data by Department name
sorted_department_name = df.sort_values("Department Name")
print(sorted_department_name)

<ul>
<li><b>Small extra tasks for extra points</b></li>
<ul>
<li>How many purchases in the data were IT Goods and had the total price more than 50000 dollars?</li>
<li>How many of the purchases have anything to do with IT? (IT Goods, IT Services, IT Telecommunications)</li>

</ul>
</ul>

In [ ]:
# Replace the $-sign and convert the value to a float
df["Unit Price"] = df["Unit Price"].str.replace("$", " ").astype(float)

In [ ]:
# Smaller extra tasks
# Number of purchases that had price more than 50000$
purchase_over_50000 = df[(df["Acquisition Type"] == "IT Goods") & (df["Total Price"] > 50000)].shape[0]
print(f"The purchase in the IT goods which costs over 50000$ is: {purchase_over_50000}")

In [ ]:
# Purchases related to IT (IT Goods, IT Services, IT Telecommunications)
it_purchases_count = df[df["Acquisition Type"].str.contains("IT")].shape[0]
print("Number of purchases related to IT:", it_purchases_count)

<ul>
<li><b>Other extra tasks for extra points</b></li>
<ul>
<li>Create a new DataFrame, where you have filtered out purchases that have a Total Price of 0 or less</li>
<li>For this DataFrame, use groupby() –function twice to group the purchases data by Acquisition Type, and then calculating the result first by sum() and then by mean()</li>
<li>Which two acquisition types have the largest sums and means after grouping the data?</li>
</ul>
</ul>

In [ ]:
# Creating a new DataFrame, where we have filtered out purchases that have a Total Price of 0 or less
new_dataframe = df[df['Total Price'] > 0]

# Display the new dataframe
new_dataframe

In [ ]:
# Using groupby() function
group_purchase_data = df.groupby("Acquisition Type")["Total Price"].agg(['sum','mean'])

# Display the grouped dataframe
group_purchase_data

In [ ]:
# Acquisition type comparison
largest_sum = group_purchase_data["sum"].nlargest(3)
largest_mean = group_purchase_data["mean"].nlargest(3)
print(f"The largest sum is: {largest_sum}")
print(f"The largest mean is: {largest_mean}")

Based on the output, the two acquisition types with the largest sums are "NON-IT Services" and "IT Services," and the two acquisition types with the largest means are "NON-IT Services" and "IT Services." Therefore, "NON-IT Services" is the acquisition type with the largest sum and mean, and "IT Services" is the acquisition type with the second-largest sum and mean

<img src="http://srv.plab.fi/~tuomasv/data_analytics_2023_images/exercise_set_2/es2_2.png" />

<h4><b>3. Download the data_salaries_india.csv from Moodle, and consider the following questions of the data. Use any means in pandas (or even NumPy) you wish to explain your answers.</b></h4>

<ul>
<li>Before we can do anything with the salaries, we have to convert them into something more usable</li>
<ul>
<li>Note: the salaries can be yearly, monthly or hourly salaries</li>
<ul>
<li>We don't also need the Indian rupee –sign (₹)</li>
</ul>
<li>You can use the template in Moodle to help you out with this (Salary filtering, pandas exercise 3)</li>
</ul>
</ul>

In [ ]:
# Read the csv-file(data_salaries_india.csv)
df = pd.read_csv('SALARIES.csv')

# Display the dataframe
df

In [ ]:
# Get the columns names
df.columns

In [ ]:
# convert all salaries(hourly, monthly) into yearly salary
def yearly_wage(row):
    # the last two characters determine if it's yearly, monthly, hourly
    period = row['Salary'][-2:]
    
    # remove all commas and combine all numbers
    number = int(''.join(filter(str.isdigit, row['Salary'])))
    
    # if it's hourly, the average work hours per year in India is
    # approximately 2117.01. 
    if period == "hr":
        number = int(number * 2117.01)
    elif period == "mo":
        # months to year
        number = int(number * 12)
    
    # return the yearly salary in integer format
    return number

In [ ]:
# Remove the Indian rupees sign
df['Salary'] = df['Salary'].str.replace('₹', '' '')

# Display the dataframe
df['Salary']

In [ ]:
# Remove non-numeric characters and convert to numeric
df['Salary'] = df['Salary'].str.replace('[^\d.]', '', regex=True).astype(float)

In [ ]:
# Check if there is any missing values
missing_values = df.isna().sum()
print("Number of missing values in each column:")
print(missing_values)

In [ ]:
# Remove the rows with missing "Company Name" values
df = df.dropna(subset=['Company Name'])

# Display the dataframe
df

<ul>
<li>What are the most common values in different fields (Job Titles, Companies, Location)? <b>Based on the distribution, is the data balanced or not?</b></li>
<ul>
<li><b>Extra task:</b> there seem to be some Job Titles that are almost the same, like "Machine Learning Data Associate" and "Machine Learning Associate", combine these into something common</li>
</ul>
</ul>

In [ ]:
# Find the most common values
# For job titles
job_title_counts = df['Job Title'].value_counts().head(5)
print(job_title_counts)

# For company names
company_counts = df['Company Name'].value_counts().head(5)
print(company_counts)

# For locations
location_counts = df['Location'].value_counts().head(5)
print(location_counts)

# For salary
salary_counts = df["Salary"].value_counts().head(5)
print(salary_counts)

In [ ]:
# Analyze the distribution to determine if the data is balanced
job_title_balance = len(job_title_counts) / len(df['Job Title'].unique())
company_balance = len(company_counts) / len(df['Company Name'].unique())
location_balance = len(location_counts) / len(df['Location'].unique())

print(job_title_balance)
print(company_balance)
print(location_balance)

<li>Are there any outliers in the data that might affect the averages negatively (certain salaries)? Manage the outliers as you best see fit (either remove them or leave them, based on your analysis) </li>

In [ ]:
# Calculate the number of observations in each category
job_title_counts = df['Job Title'].value_counts()
company_counts = df['Company Name'].value_counts()
location_counts = df['Location'].value_counts()
salary_counts = df["Salary"].value_counts()

# Compare the number of observations in each category
if job_title_counts.std() < 0.1 and company_counts.std() < 0.1 and location_counts.std() < 0.1 and salary_counts.std() < 0.1:
    print("The data is balanced.")
else:
    print("The data is imbalanced.")

I have used two ways to find if the data is balanced or not. From both observation, we can conclude that the data is imbalanced.

First Approach: A ratio close to 1 indicates a balanced distribution, while a ratio significantly smaller or larger than 1 suggests an imbalance in the data. In my analysis, the data for job title and company name is imbalanced whereas location data is perfectly balanced.

Second Approach: The standard deviation is a measure of the spread of a dataset. In this case, I am using it to determine whether the number of observations in each category is roughly equal or not. If the standard deviation is small, it means that the counts are similar and the data is balanced. If the standard deviation is large, it means that the counts are significantly different and the data is imbalanced.

In [ ]:
# Replace similar job titles with a common name
df['Job Title'] = df['Job Title'].replace({'Machine Learning Data Associate':'Machine Learning Associate',
                                            'Associate Machine Learning Engineer':'Machine learning Associate',
                                            'Machine Learning Engineer':'Machine Learning Associate',
                                            'Machine Learning Develoepr':'Machine Learning Associate',
                                            'Machine Learning Consultant': 'Machine Learning Associate',
                                            'Machine Learning Scientist': 'Machine Learning Associate',
                                            'Machine Learning Associate': 'Machine Learning Data Associate I',
                                            'Machine Learning Developer': 'Machine Learning Software Engineer',
                                            'Senior Data Scientist':'Lead Data Scientist',
                                            'Data Science Associate':'Data Science Consultant',
                                            'Data Science Manager':'Data Science Consultant',
                                            'Data Science Lead':'Lead Data Scientist',
                                            'Data Science':'Junior Data Scientist',
                                            'Data Scientist':'Junior Data Scientist',
                                            'Machine Learning Associate':'Junior Data Scientist',
                                            'Data Science Consultant':'Lead Data Scientist',
                                            'Software Engineer - Machine Learning': 'Machine Learning Software Engineer',
                                            'Machine Learning Data Analyst':'Data Analyst'})

# Verify the changes
job_title_counts = df['Job Title'].value_counts()
print(job_title_counts)

I tried to divide the roles with different positions from Juniors to Seniors. 1. Data Analyst, Data Engineer, Data scientist - Trainee, Junior Data scientist, Lead data scientist 2. ML Associate, ML Data Associate I, ML Data Associate II, ML Software Engineer, Senior ML Engineer 3. National Director 4. CEO

<ul>
<li>If we want to correlate upon categories (ordinal or binary), we need to use factorize(). <b>Factorize the Role-column, and add the new column to the DataFrame.</b></li>
<ul>
<li><b>Note:</b> using <b>factorize()</b> for nominal categories (Job Title, Location, Company Name) doesn't work well, because the numbers do not have any numeric magnitude. In other words, these categories don't measure anything, they just group data, so numerical comparison / correlation doesn't mean anything statistically.</li>
</ul>
</ul>

In [ ]:
# Calculating the Z score for salary column
df['Salary_zscore'] = (df['Salary'] - df['Salary'].mean())/df['Salary'].std()

In [ ]:
# Salary greater than z_score of 3
df[df['Salary_zscore'] < 3]

In [ ]:
# Salary less than z_score of -3.
df[df['Salary_zscore'] > -3]

In [ ]:
# Create new df for the salary based on their z score
new_salary_df = df[(df['Salary_zscore']< 3) & (df['Salary_zscore'] > -3)]
new_salary_df

The z-score is a standard measurement that represents how many standard deviations away a data point lies from its mean. This way we can compare data points from different datasets or distributions. A z-score of 3 corresponds to a data point that is three standard deviations away from its mean. Such data points are often referred to as outliers, which should be removed. By setting a threshold of 3 for the z-scores, we exclude any data points that lie at least three standard deviations away from the mean. This ensures that the dataset contains only typical values and reduces the influence of extreme values on subsequent analyses.

Originally, we had 5127 rows and after removing outliers using z score method, we have 5064 rows, which means we have successfully removed 63 outliers that might have impacted the analysis.

<ul>
<li><b>Finally, check out the correlations. Does anything correlate with anything? Can we make any assumptions?</b></li>
<ul>
<li>Tip: When correlating against binary variables, sometimes the Spearman correlation might be more sensitive, in pandas:</li>
</ul>
</ul>

In [ ]:
# Factorize the role column and add the new column to the DataFrame
label1, unique1 = pd.factorize(df['Role'], sort=False)
df['ManagerRole'] = label1

In [ ]:
# Factorize the 'Role' column
label1, unique1 = pd.factorize(df['Role'], sort=False)

# Add the new column to the DataFrame
df.loc[:, 'ManagerRole'] = label1

In [ ]:
# Display the dataframe
df

In [ ]:
# Calculate Spearman correlations
corr_managerrole_salary = df['ManagerRole'].corr(df['Salary'], method='spearman')
corr_managerrole_sr = df['ManagerRole'].corr(df['Salaries Reported'], method='spearman')

# Display calculated Spearman correlations
print("Correlation between Manager Role and Salary:", corr_managerrole_salary)
print("Correlation between Manager Role and Salaries Reported:", corr_managerrole_sr)

A correlation coefficient of 0.4301196078482581 between 'ManagerRole' and 'Salary' shows a considarable positive correlation. This means that as the numerical label representing the 'ManagerRole' increases, there is a tendency for the salary increase. However, the correlation is not very strong, indicating that the relationship may not be linear or there are other factors that also influence salary.

On the other hand, a correlation coefficient of -0.2544565723460406 between 'ManagerRole' and 'Salaries Reported' suggests a weak negative correlation. This means that as the numerical label representing the 'ManagerRole' increases, there is a slight tendency for the reported salaries to decrease. Again, the correlation is not very strong, indicating that the relationship may not be linear or that other factors also influence reported salaries.

<b>Extra tasks for this dataset</b><br><br>

<ul>
<li>After all salaries have been converted to correct format by using the helper function (check Moodle), use quantiles and split the data into four different parts:</li>
<ul>
<li><span style="color: red;">Top 25%</span><br>=> quantile(0.75)</li>
<li><span style="color: red;">Above average, values between top 25-50%</span><br>
=> quantile(0.5)  - quantile(0.75)</li>
<li><span style="color: red;">Below average, values between top 50-75% </span><br>
=> quantile(0.25) – quantile(0.5)
</li>
<li><span style="color: red;">Bottom 25%</span><br>=> quantile(0.25)</li>
<br>
<li>What are the salary ranges for each quantile?</li><li>
See examples in pandas-materials on how to use quantiles
</li>
</ul>
</ul>
<hr>

<ul>
<li>Did you get any ideas how this data could be improved? Do we need some particular new data or some other operations on the data? Should we filter something out based on some other column?<br><br><b>Provide arguments for your answers in code comments.</b><br><br> </li>
<ul>
<li>Note: There are many good possible answers here!</li>
<li>Tip: How about replacing the "Salaries Reported" column with actual rows based on that number? Try doing this with the data!</li>
<li>Remember: This data only represents data engineering salaries based on selected Indian cities.
The world is a vast place :)
</li>
</ul>
</ul>

In [ ]:
# calculate the quantile of the salary column
q1 = df['Salary'].quantile(0.25)
q2 = df['Salary'].quantile(0.5)
q3 = df['Salary'].quantile(0.75)

In [ ]:
# Split the data into four different parts based on the quantiles
top_25 = df[df['Salary'] > q3]
above_avg = df[(df['Salary'] > q2) & (df['Salary'] <= q3)]
below_avg = df[(df['Salary'] > q1) & (df['Salary'] <= q2)]
bottom_25 = df[df['Salary'] <= q1]

In [ ]:
# Check the salary ranges for each quantile
print('Salary range for top 25%:', top_25['Salary'].min(), '-', top_25['Salary'].max())
print('Salary range for above average:', above_avg['Salary'].min(), '-', above_avg['Salary'].max())
print('Salary range for below average:', below_avg['Salary'].min(), '-', below_avg['Salary'].max())
print('Salary range for bottom 25%:', bottom_25['Salary'].min(), '-', bottom_25['Salary'].max())

I think now looking at the data from operations perspective that every possible functions have been used for data cleaning. We have removed the indian currency(rupees) sign, removed non numeric characters, converted numeric and checked for missing values. We have also found common values within important titles, analuzed the distribution, calculated and compared the observation numbers, replaced similar job titles, calculated outliers and also factorized the columns and calculated the quantiles of the data.

I could say based on the columns and information provided that one possible learnings could be that we could filter out the specific job titles or possible roles that do not have any relevance for the data analyzation. By doing this it would help simplifying the data and makes it easier to work with.


<h2><b>Advanced extra tasks for extra points (varying challenges, some require Googling):</b></h2>

<ul>
<li><b>1. Data merge is a useful tool when you have multiple files of data that have the exact same structure.</b><br><br>Download the two csv-files from Moodle (videogames1.csv, videogames2.csv), and combine them into one Data Frame. Lastly, save the Data Frame into a new csv-file => combined.csv.</li>
</ul>

In [ ]:
# Combine two CSV-files in one data frame

df1 = pd.read_csv("videogames1 (1).csv")
df2 = pd.read_csv("videogames2 (1).csv")

# Combine two files using concat function
combined_df = pd.concat([df1,df2])

# Save to new CSV file
combined_df.to_csv("combined.csv")

<ul>
<li><b>2. Functions and lambdas allow us to extend the operations we wish to do to columns and rows in pandas. </b><br><br>For example, the built-in functions may not be enough in all cases. Use the data of exercise 1 (loans.csv), and create a new column called "Income Group" that holds a text value. <br><br>Create either a function or a lambda, that determines the True or False –value based on the Annual Income –column. Use the following table to create the values:</li>
</ul>

<img src="http://srv.plab.fi/~tuomasv/data_analytics_2023_images/exercise_set_2/es2_3.png"/>

<li>After creating the function/lambda, you can use it by using pandas' .apply() –function.<br><br></li>

<li>Finally, get the amount of rows grouped by each of the new Income Group –field values and print them out.</li>

In [ ]:
# Load the data from 'LOANS.csv' into a DataFrame
df = pd.read_csv('LOANS.csv')

# Define a lambda function to determine the income group based on annual income
determine_income_group = lambda x: (
    '$25k or less' if x <= 25000 else 
    '$25k-$50k' if x <= 50000 else 
    '$50k-$100k' if x <= 100000 else 
    '$100k-$200k' if x <= 200000 else 
    '$200k+')

# Create a new column 'Income Group' based on 'Annual Income'
df['Income Group'] = df['Annual Income'].apply(determine_income_group)

# Group by 'Income Group' and count the number of rows for each group
income_group_counts = df.groupby('Income Group').size()

# Print out the counts for each income group
print(income_group_counts)

<ul>
<li><b>3.	Normalization allows us to convert the values of numeric columns to be between 0 and 1.</b> This is helpful when two different numbers seem to follow the same trend, but have completely different value ranges. For example, gold and silver prices tend to follow similar patterns, but their market worth is quite different. By using normalization, we can compare these trends more easily. <br>

Get historical prices of both gold and silver, and compare them without and with normalization. You can plot the prices by using df.plot() –function. Check the dataset in list in Moodle for some alternatives for gold and silver prices.
</li>
</ul>
<img src="http://srv.plab.fi/~tuomasv/data_analytics_2023_images/exercise_set_2/es2_4.png" />

For the Normalization problem, I have taken data from kaggle. (https://www.kaggle.com/datasets/kapturovalexander/gold-and-silver-prices-2013-2023?resource=download). Since, we are comparing prices, the closing price or last price is used for convenience.

In [ ]:
# Load the gold and silver price data into pandas DataFrames
df_gold = pd.read_csv('gold_price.csv')
df_silver = pd.read_csv('silver_price.csv')

In [ ]:
# Display gold dataframe
df_gold

In [ ]:
# Display silver dataframe
df_silver

In [ ]:
# Get the 'close' column from each DataFrame
gold_prices = df_gold['price']
silver_prices = df_silver['price']

# Compute the minimum and maximum values of the gold and silver prices separately
min_gold_price = gold_prices.min()
max_gold_price = gold_prices.max()
min_silver_price = silver_prices.min()
max_silver_price = silver_prices.max()

# Normalize the gold and silver prices independently
gold_prices_norm = (gold_prices - min_gold_price) / (max_gold_price - min_gold_price)
silver_prices_norm = (silver_prices - min_silver_price) / (max_silver_price - min_silver_price)

# Plot the normalized gold and silver prices
plt.plot(gold_prices_norm, label='Gold')
plt.plot(silver_prices_norm, label='Silver')

# Add a legend
plt.legend()

# Show the plot
plt.show()

<ul>
<li><b>4.	Create an account to kaggle.com, and find any dataset that interests you. </b><br>

There's a list of possibly interesting datasets listed in Moodle as well.
<br><br>
<b>Try to find interesting features in data, in particular:</b>
</li>
<ul>
<li>Clean up data first (rows with too many NaN –values), values that are way too big or small, insignificant columns etc.)</li>
<li>You can create new columns as well if it seems suitable! (either by using functions or other means)</li>
<li>Interesting correlations (.corr() –function) and other interesting features in the data. Is something surprising in the data?</li>
<li><b>Note: </b>There are many ways on how to approach this exercise.</li>
</ul>
</ul>

<img src="http://srv.plab.fi/~tuomasv/data_analytics_2023_images/exercise_set_2/es2_5.png" />

In [ ]:
# do any Kaggle.com -related extra tasks in their own Jupyter notebooks for easier coding